.btn{
  display: inline-block;
  padding: 7px 23px;
  background-color: $primary;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $alt-family;
  text-align: center;
  color:#2f2f2f;
  @include font-size(20);
  transition: all 0.5s ease;
  &:hover, &:active, &:focus{
    background-color: #000;
    color:$primary
  }
  &--icon{
   @include font-size(18);
    padding: 9px 15px;
    &:before{
      content:"";
      width: 20px;
      height: 20px;
      background: url(images/plus.png) no-repeat 0 0;
      vertical-align: middle;
      margin-right: 5px;
      display: inline-block;
    }
    &:hover, &:active, &:focus{
      background-color: #000;
      color:$primary
    }
  }

}